[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# IDE / project files
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.suo
*.tmp
*.orig
*.dll
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity-generated stuff
*.apk
*.aab
*.unitypackage

# OS files
.DS_Store
Thumbs.db

Assets/hackatime.txt

repomix.config.json
.repomixignore
repomix-unity.xml
